html {
  font-family: 'Inter', sans-serif;
}

/*@supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', sans-serif;
    }
}*/

h1 {
  padding: 10px;
  font-weight: 100;
}

@keyframes pulse {
  0% {
    color: rgba(0,0,0,0);
  }
  100% {
    color: rgba(0,0,0,1);
  }
}


@media (min-width: 480px) {
  
  html {
    background-color: rgba(0,0,0,0);
  }

  h1 {
    font-size: 8vw;
  }

  .page-header {
    text-align: center;
    animation: pulse 5s 1;
  }

}

@media (min-width: 600px) {
    
  html {
    background-color: rgba(0,0,0,0);
  }

  h1 {
    font-size: 5vh;
  }

  .page-header {
    text-align: center;
    animation: pulse 5s 1;
  }

}

@media (min-width: 1024px) {
    
  html {
    background-color: rgba(0,0,0,0);
  }

  h1 {
    font-size: 10vh;
  }

  .page-header {
    text-align: left;
    animation: pulse 5s 1;
  }

}